.booking {
  text-align: center;
  margin-bottom: 50px;
  @media ($tablet) {
  margin-bottom: 58px;
  padding: 0 20%;
  }
  @media ($desktop) {
  margin-bottom: 65px;
  padding: 0 30%;
  }
}

.booking__title {
  @include text(21px, 26px, bold);
  padding: 0 30px;
  margin-bottom: 20px;
  @media ($tablet) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.booking__info {
  @include text(14px, 24px, normal);
  color: $text-color;
  padding: 0 20px;
  margin-bottom: 35px;
  @media ($tablet) {
    margin-bottom: 40px;
    padding: 0;
  }
  @media ($desktop) {
    margin-bottom: 50px;
  }
}

.booking__note {
  @media ($tablet) {
    display: block;
  }
}

.booking__button  {
  width: 280px;
  @media ($tablet){
    max-width: 456px;
    width: 456px;
  }
}
