.checkbox__input {
    display: none; }

.checkbox__label {
  position: relative;
  @include text(18px, 26px, bold);
  text-transform: none;
  margin-bottom: 25px;
  padding-left: 80px;
  vertical-align: middle;
  &::before {
    content: " ";
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    left: 0px;
    top: 1px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
  }
}

  .checkbox__input:checked + .checkbox__label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
}
