.feature {
  position: relative;
  text-align: center;
  padding: 30px;
  &--icon {
    text-align: left;
    padding-left: 70px;
    padding-bottom: 0;
    @media ($tablet) {
      padding-left: 6%;
      padding-right: 6%;
      padding-bottom: 60px;
      padding-top: 0;
      width: 33.333333%;
      @media ($desktop) {
        padding-bottom: 85px;
      }
    }
  }
  &--blue {
    padding: 40px ;
    background-color: $base-color;
    @media ($tablet) {
    width: 33.333333%;
    padding: 35px 6%;
    }
    @media ($desktop) {
    padding: 45px 6%;
    }
  }
  &--grey {
    background-color: #eeeeee;
    padding: 25px 30px;
    @media ($tablet) {
    width: 33.333333%;
    padding: 45px 7%;
    }
    @media ($desktop) {
      padding-bottom: 70px;
      padding: 45px 4%;
    }
  }
  &--picture {
    padding: 0;
    @media ($tablet) {
    width: 66.666666%;
    height: 256px;
    overflow: hidden;
    }
  }
}

@media ($mobile) {
  .feature--grey-border::after {
    position: absolute;
    content: " ";
    height: 1px;
    background-color: #dbdbdb;
    width: 280px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .feature--grey-border::before {
    position: absolute;
    content: " ";
    height: 1px;
    background-color: #dbdbdb;
    width: 280px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

.feature--picture-second {
  @media ($tablet) {
    order: -1;
  }
}

.feature__title {
  @include text(18px, 26px, bold);
  margin: 0;
  margin-bottom: 10px;
  &--blue {
    color: $white-color;
  }
  @media ($tablet) {
    @include text(21px, 26px, bold);
    margin: 0 auto;
    margin-bottom: 20px;
    word-wrap: break-word;
    &--icon {
      text-align: center;
      padding-top: 155px;
      margin-bottom: 15px;
    }
  }
}

.feature__description {
  @include text(14px, 21px, normal);
  color: $text-color;
  margin: 0;
  &--blue {
    color: $white-color;
  }
  @media ($tablet) {
    text-align:center;
  }
}

.feature__number {
  display: flex;
  justify-content: center;
  align-items: center;
  @include text(14px, 21px, bold);
  color: $text-color;
  margin-bottom: 17px;
  &--blue {
    color: $white-color;
  }
  &::before, &::after {
    content: " ";
    margin: 0 4px;
    width: 10px;
    height: 1px;
    background-color: $text-color;
  }
  &--blue::before, &--blue::after {
    background-color: $white-color;
  }
}

.feature__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.feature--icon-home::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 22px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-size: 39px 37px;
  background-repeat: no-repeat;
  background-position: 0 0;
  @media ($tablet) {
    width: 75px;
    height: 72px;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 75px 72px;
  }
}

.feature--icon-souvenir::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-size: 32px 38px;
  background-repeat: no-repeat;
  background-position: 0 0;
  @media ($tablet) {
    width: 64px;
    height: 75px;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 64px 75px;
  }
}

@media ($tablet) {
  .feature--icon-souvenir {
    order: 1;
  }
}

.feature--icon-food::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  background-size: 40px 35px;
  background-repeat: no-repeat;
  background-position: 0 0;
  @media ($tablet) {
    width: 77px;
    height: 68px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 77px 68px;
  }
}

.feature-row {
  &--picture {
    background-color: $base-color;
  }
  &--icon {
    margin-bottom: 40px;
  }
  @media ($tablet) {
  display: flex;
  margin-bottom: 0;
 }
}
