.field {
  @include text(18px, 26px, bold);
  height: 58px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  &--comment {
    width: 100%;
    resize: none;
    height: 160px;
  }
}

.field:hover, {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.field:active,
.field:focus {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}
