.header {
    position: relative;
    @media ($tablet) {
      margin: 0;
    }
}

.header__logo-wrap {
  position: relative;
  height: 56px;
  @media ($tablet) {
    position: static;
    height: auto;
  }
}

.header__logo-link {
  display: block;
  position: absolute;
  z-index: 2;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo {
  display: block;
  width: 100%;
  height: auto;
}

.header__menu-toggle {
    position: absolute;
    right: 20px;
    top: 17px;
    border: none;
    cursor: pointer;
    z-index: 2;
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-cross.svg");
    background-color: transparent;
    @media ($tablet){
      display: none;
    }
}

.header--menu-closed .header__menu-toggle {
    width: 23px;
    height: 22px;
    background-image: url("../img/icon-menu.svg");
    background-color: $white-color;
}

.header--nojs .header__menu-toggle {
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-cross.svg");
    background-color: red;
}
