.intro {
  position: relative;
  margin-bottom: 42px;
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #add5ed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 65px;
  &--index {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media ($tablet) {
    padding-top: 95px;
    padding-bottom: 117px;
    margin-bottom: 75px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
  }
    &--index {
      padding-top: 100px;
      margin-bottom: 50px;
    }
    @media ($retina-dpi), ($retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  @media ($desktop) {
    padding-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
    &--index {
      padding-top: 78px;
      margin-bottom: 50px;
    }
    @media ($retina-dpi), ($retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1536 auto;
    }
  @media ($retina-dpi), ($retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.intro::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 26px;
  bottom: 0;
  left: 0;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media ($tablet) {
    height: 55px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }
  @media ($desktop) {
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}

.intro__img {
  display: block;
  width: 280px;
  height: auto;
  margin: 0 auto;
  @media ($tablet) {
    width: 460px;
  }
}
