.map__canvas {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-color: #cadfaa;
  background-repeat: no-repeat;
  background-position: 0 0;;
  background-size: cover;
  @media ($retina-dpi), ($retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
  @media ($tablet) {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: cover;
  }
    @media ($retina-dpi), ($retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  @media ($desktop) {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
  @media ($retina-dpi), ($retina-dppx) {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}

.map__canvas::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-map-marker.svg");
  background-size: 27px 27px;
}

.map__location {
  display: block;
}
