.map__canvas {
  width: 320px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
