.radio__input {
  display: none;
 }

.radio__label {
    position: relative;
    @include text(18px, 26px, bold);
    text-transform: none;
    margin-bottom: 25px;
    padding-left: 80px;
    vertical-align: middle;
    &::before {
      content: " ";
      position: absolute;
      width: 56px;
      height: 56px;
      background-color: #f2f2f2;
      left: 0px;
      top: 1px;
      border-radius: 50%;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      }
      &::after {
      content: " ";
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: #000000;
      left: 17px;
      top: 3px;
      border-radius: 50%;
    }
}

  .radio__input:checked + .radio__label::after {
    content: " ";
  }

  .radio__input + .radio__label::after {
    content: none;
  }
