.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  @media ($tablet) {
    margin-bottom: 3 px;
  }
}

.social__item {
  margin-left: 5px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
  fill: #cacaca;
}
