body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  min-width: 320px;
}

html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
