$base-color: #81b3d2;
$text-color: #333333;
$white-color: #ffffff;
$font-family: "PT Sans", Tahoma, sans-serif;
$bg-white: #ffffff;
$bg-grey: #eeeeee;

$tablet: "min-width: 768px";
$desktop: "min-width: 1200px";
$mobile: "max-width: 767px";
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";

